.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in-out;
}

.burger_open {
  visibility: visible;
  opacity: 1;
}

.burger-btn {
  display: none;
  z-index: 2000;
}

.burger__content {
  padding-top: 60px;
  padding-left: 30px;
  width: 275px;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.5s linear;
}

.burger_open .burger__content {
  transform: translateX(0);
}

.burger__logo {
  margin-bottom: 50px;
  width: 156px;
}

.burger__nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.burger__nav {
  margin-bottom: 87px;
}

.burger__nav-link {
  font-size: 25px;
  line-height: normal;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: #000;
}

.burger__contacts-title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.48px;
}

.burger__contacts-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: -0.6px;
}

@media (max-width: 960px) {
  .burger-btn {
    display: block;
    position: relative;
    width: 50px;
    height: 23px;
  }

  .burger-btn::before,
  .burger-btn::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .burger-btn::after {
    top: 6px;
    width: 31px;
  }

  .burger-btn_open::before,
  .burger-btn_open::after {
    display: none;
  }

  .burger-btn_open {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    background-image: url("../../img/icons_cross.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 960px) {
  .burger-btn {
    width: 38px;
  }

  .burger-btn::after {
    top: 5px;
    width: 24px;
  }
}
