.example {
  position: relative;
  background: url("./../img/example.jpg") center / cover no-repeat;
  height: 717px;
}

.example:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.52%,
    rgba(0, 0, 0, 0.4) 82.81%
  );
}

.example__text {
  position: absolute;
  bottom: 60px;
  max-width: 443px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #fff;
  z-index: 9;
}