.header {
  padding: 33px 0;
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo {
  display: inline-block;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}

.header__nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: normal;
  text-transform: uppercase;
  color: inherit;
  transition: opacity 0.3s ease-in-out;
}

.header__nav-link::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #121212;
  transition: width 0.5s ease-in-out;
}

.header__nav-link:hover::after {
  width: 100%;
  opacity: 0.5;
}

.header__nav-link:hover {
  opacity: 0.5;
}

@media (max-width: 960px) {
  .header__nav {
    display: none;
  }
}
