.services {
  padding-top: 152px;
  background-color: #121212;
  color: #fff;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 89px;
  margin-bottom: 108px;
}

.services-item {
  position: relative;
  width: calc(50% - 5px);
}

.services-item__image {
  overflow: hidden;
  margin-bottom: 25px;
}

.services-item__image-sticker {
  position: absolute;
  top: 31px;
  left: 30px;
  display: inline-block;
  padding: 5px 22px;
  border-radius: 5px;
  background-color: #ad1818;
}

.services-item__image-sticker p {
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.services__btn {
  background-color: #ad1818;
  color: #fff;
}

.services__btn:hover {
  padding: 43px 0;
  border: 2px solid #ad1818;
  background-color: #fff;
  color: #ad1818;
}

@media (max-width: 1199px) {
  .services-wrapper {
    margin-bottom: 82px;
    row-gap: 82px;
  }

  .services-item__image {
    margin-bottom: 15px;
    width: 100%;
  }

  .services-item__image-sticker {
    font-size: 20px;
    letter-spacing: -0.6px;
    padding: 7px 29px;
  }

  .services-item__image-sticker p {
    font-size: 20px;
    letter-spacing: -0.6px;
  }
}

@media (max-width: 767px) {
  .services {
    padding-top: 80px;
  }

  .services-wrapper {
    margin-bottom: 67px;
    row-gap: 60px;
  }

  .services-item {
    width: 100%;
  }

  .services-item__image {
    margin-bottom: 11px;
    width: 100%;
    height: 240px;
  }

  .services-item__image img {
    width: 100%;
    object-fit: cover;
  }

  .services-item__image-sticker {
    top: 24px;
    left: 24px;
  }

  .services-item__image-sticker p {
    font-size: 14px;
    letter-spacing: -0.42px;
  }
}
