.testimonials {
  padding-top: 150px;
}

.testimonials__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 78px;
}
.testimonials__item {
  width: calc(50% - 30px);
}

.testimonials__item:last-child:nth-child(2n + 1) {
  min-width: 75%;
}

.testimonials__item-title {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: normal;
  letter-spacing: -1.35px;
}

.testimonials__item-text {
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.testimonials__item-text p:not(:last-child) {
  margin-bottom: 27px;
}

@media (max-width: 1199px) {
  .testimonials {
    padding-top: 120px;
  }

  .testimonials__wrapper {
    column-gap: 8px;
    row-gap: 78px;
  }

  .testimonials__item {
    width: calc(50% - 10px);
  }

  .testimonials__item-title {
    margin-bottom: 25px;
    font-size: 35px;
    letter-spacing: -1.05px;
  }

  .testimonials__item-text {
    font-size: 20px;
    letter-spacing: -0.6px;
  }
  .testimonials__item:last-child:nth-child(2n + 1) {
    max-width: 861px;
  }
}

@media (max-width: 820px) {
  .testimonials__item-title {
    font-size: 30px;
  }
  
  .testimonials {
    padding-top: 82px;
    padding-bottom: 92px;
  }

  .testimonials__wrapper {
    flex-direction: column;
    row-gap: 70px;
  }

  .testimonials__item {
    min-width: 100%;
  }

  .testimonials__item-title {
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: -1.75px;
  }

  .testimonials__item-text {
    font-size: 16px;
    letter-spacing: -0.48px;
  }

  .testimonials__item:last-child:nth-child(2n + 1) {
    width: 100%;
  }

  .testimonials__item-text p:not(:last-child) {
    margin-bottom: 21px;
  }
}
