.projects__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  height: 153px;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  color: #ad1818;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: -0.1px;
  line-height: normal;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.projects-item {
  padding-bottom: 90px;
}

.projects-item__image {
  margin-bottom: 11px;
  max-width: 100%;
  overflow: hidden;
}

.projects__btn:hover {
  border: none;
  background-color: #ad1818;
  color: #fff;
}


@media (max-width: 767px) {
  .projects-item {
    padding-bottom: 49px;
  }

  .projects__btn {
    font-size: 22px;
    padding: 37px 0;
    letter-spacing: -0.66px;
  }
}