html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  color: #121212;
}

.none {
  display: none;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    max-width: 100%;
  }
}

.section {
  padding-bottom: 153px;

  @media (max-width: 1199px) {
    padding-bottom: 120px;
  }

  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
}

.section__title {
  margin-bottom: 35px;
  font-size: 18px;
  letter-spacing: -0.54px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: -0.42px;
  }
}

.section__item {
  padding-bottom: 90px;

  @media (max-width: 767px) {
    padding-bottom: 80px;
  }

  @media (max-width: 1199px) {
    padding-bottom: 49px;
  }
}

.section__description {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;

  @media (max-width: 1199px) {
    margin-bottom: 10px;
    font-size: 25px;
    letter-spacing: -0.75px;
  }

  @media (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 18px; 
    letter-spacing: -0.54px;
  }
}

.section__item-image {
  margin-bottom: 20px;
  max-width: 1150px;
  overflow: hidden;

  @media (max-width: 1199px) {
    margin-bottom: 15px;
    width: 100%;
  }
}

.section__link {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  letter-spacing: -0.6px;
  line-height: normal;
  color: #ad1818;
  transition: transform 0.5s ease-in-out;

  @media (max-width: 767px) {
    font-size: 16px;
    letter-spacing: -0.48px;
  }
}

.section__link-btn {
  display: block;
  font-size: inherit;
  padding: 20px 40px;
  background-color: #ad1818;
  border-radius: 5px;
  line-height: normal;
  letter-spacing: -0.1px;
  color: #fff;
  transition: transform 0.5s ease-in-out;

  @media (max-width: 1199px) {
    letter-spacing: -0.6px;
  }

  @media (max-width: 767px) {
    padding: 15.21px 31.41px;
    font-size: 16px;
    letter-spacing: -0.46px;
  }
}

.section__link-btn:hover,
.section__link:hover {
  transform: scale(1.1);
}

/* HEADER============= */

.header {
  padding: 33px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}

.header__nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: -0.54px;
  line-height: normal;
  text-transform: uppercase;
  color: inherit;
  transition: opacity 0.3s ease-in-out;
}

.header__nav-link::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #121212;
  transition: width 0.5s ease-in-out;
}

.header__nav-link:hover::after {
  width: 100%;
  opacity: 0.5;
}

.header__nav-link:hover {
  opacity: 0.5;
}

/* HEADER=============/ */

/* HER0=============== */

.hero {
  padding-top: 36px;
}

.hero__title {
  margin-bottom: 30px;
  max-width: 956px;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1.8px;

  @media (max-width: 1199px) {
    font-size: 50px;
    letter-spacing: -1.5px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 0.95;
    letter-spacing: -0.9px;
  }
}

.hero__description {
  position: relative;
  background: url("./../img/hero.jpg") center / cover no-repeat;
  height: 500px;
}

.hero__description:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.52%,
    rgba(0, 0, 0, 0.4) 82.81%
  );
}

.hero__text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  letter-spacing: -0.6px;
  line-height: normal;
  color: #fff;
  z-index: 9;

  @media (max-width: 767px) {
    bottom: 15px;
    left: 15px;
    margin-bottom: 25px;
    max-width: 250px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}

/* HER0===============/ */

/* ABOUT============== */

.about__description {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: 1.355;
  letter-spacing: -1.35px;

  @media (max-width: 1199px) {
    max-width: 690px;
    font-size: 35px;
    letter-spacing: -1.05px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    font-size: 22px;
    letter-spacing: -0.66px;
  }
}

/* ABOUT==============/ */

/* PROJECTS=========== */

.projects__btn {
  display: inline-block;
  padding: 56px 0;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  /* color: #ad1818; */
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: normal;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

  @media (max-width: 767px) {
    font-size: 22px;
    padding: 37px 0;
    letter-spacing: -0.66px;
  }
}

.projects__btn:hover {
  border: none;
  background-color: #ad1818;
  color: #fff;
}

/* PROJECTS===========/ */

/* SERVICES=========== */

.services {
  padding-top: 152px;
  background-color: #121212;
  color: #fff;
}

.services__item:not(:last-child) {
  padding-bottom: 63px;
}

.section__description-light {
  font-size: 30px;
  letter-spacing: -0.9px;
}

/* SERVICES===========/ */

/* EXAMPLE============ */

.example {
  position: relative;
  background: url("./../img/example.jpg") center / cover no-repeat;
  height: 717px;
}

.example:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.52%,
    rgba(0, 0, 0, 0.4) 82.81%
  );
}

.example__text {
  position: absolute;
  bottom: 60px;
  max-width: 443px;
  font-size: 30px;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #fff;
  z-index: 9;
}

/* EXAMPLE============/ */

/* CONTACTS=========== */

.contacts {
  padding-top: 194px;
}

.contacts-title {
  position: relative;
  margin-bottom: 32px;
}

.contacts-title::before {
  content: "";
  position: absolute;
  background: url(./../img/phon.svg) center / cover no-repeat;
  width: 13px;
  height: 22px;
  top: -38px;
  left: 0;
}

.contacts-tel,
.contacts-mail {
  position: relative;
  display: block;
  width: max-content;
  color: inherit;
  text-decoration: none;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1.8px;
  transition: color 0.5s ease-in-out;
}

.contacts-tel {
  letter-spacing: -1px;
}

.contacts-tel::after,
.contacts-mail::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #121212;
  transition: width 0.5s ease-in-out;
}

.contacts-tel {
  margin-bottom: 30px;
}

.contacts-mail:hover,
.contacts-tel:hover {
  opacity: 0.5;
}

.contacts-tel:hover::after,
.contacts-mail:hover::after {
  width: 100%;
}

/* CONTACTS===========/ */

/* FOOTER============= */

.footer {
  background-color: #121212;
  color: #fff;
}

.footer__inner {
  padding: 68px 0 30px;
  text-align: center;
}

.footer__nav {
  margin-bottom: 87px;
}

.footer__nav-list {
  display: flex;
  justify-content: center;
  gap: 53px;
  align-items: center;
}

.footer__nav-link {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  text-transform: uppercase;
  color: inherit;
  transition: opacity 0.3s ease-in-out;
}

.footer__nav-link:hover {
  opacity: 0.5;
}

.footer__copyright-text {
  display: inline-block;
  text-align: center;
  width: 389px;
  line-height: normal;
  letter-spacing: -0.6px;
  opacity: 0.5;
}

/* FOOTER=============/ */
